[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/opengobgt/puppet-rvm.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/opengobgt/puppetlabs-stdlib.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/opengobgt/puppetlabs-postgresql.git
[submodule "modules/passenger"]
	path = modules/passenger
	url = https://github.com/opengobgt/puppetlabs-passenger.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/opengobgt/puppetlabs-apache
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/opengobgt/puppetlabs-concat
